.button {
  padding: 0.4rem 1rem;
  display: inline-block;
  min-width: 4rem;
  min-height: 2.5rem;

  border-radius: 10px;

  cursor: pointer;
  
  background-color: blue;
  font-size: 1.5rem;
  font-weight: 700;
  color: $body-bg-color;

  transition: 0.1s all;

  &:hover {
    transform: scale(104%);
  }

  &:active {
    transform: translateY(2px);
  }

  &_sound {
    margin-left: 5px;
  }
}