.menu {
  width: 200px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;

  color: blue;
  font-size: 1.5rem;
  font-weight: 700;

  &__size {
    margin-bottom: 1.2rem;
    display: flex;
    align-items: center;
  }

  &__sound {
    margin-bottom: 1.2rem;
  }

  &__bombs {
    margin-bottom: 1.2rem;
  }
}