.records-table {
  display: none;
  color: blue;
  font-size: 1.5rem;
  font-weight: 700;

  &_active {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .record {
    margin-bottom: 10px;
  }
}