.size-select {
  margin-left: 10px;
  padding: 7px 15px;
  display: inline-block;
  min-width: 60px;
  min-height: 40px;

  border-radius: 10px;

  cursor: pointer;
  
  background-color: blue;
  font-size: 1.5rem;
  font-weight: 700;
  color: $body-bg-color;
}