.stats {
  width: 200px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  font-size: 1.5rem;
  font-weight: 700;
  color: blue;

  &__timer {
    margin-bottom: 1.2rem;
  }

  &__moves{
    margin-bottom: 1.2rem;
  }

  &__bombs {
    margin-bottom: 1.2rem;
  }
}