* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: 'Arial';
  font-style: normal;

  text-decoration: none;

  outline: none;
  border: none;
}

body {
  background-color: $body-bg-color;
  padding-top: 10vh;
  transition: 0.3s all;
}

html {
  font-size: 16px;
}